<div class="form-group">
  <%= simple_form_for(@movie) do |f| %>
    <%= f.input :title, autofocus: true, label: 'Title', input_html: { class: 'form-control' }, placeholder: 'Add title to movie' %>
    <%= f.input :overview, label: 'Overview', input_html: { class: 'form-control' }, placeholder: 'Add overview to movie' %>
    <%= f.input :poster_url, label: 'Poster URL', input_html: { class: 'form-control' }, placeholder: 'Add poster URL to movie' %>
    <%= f.input :rating, label: 'Rating', input_html: { class: 'form-control' }, placeholder: 'Add rating to movie' %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
  <p> <%= link_to 'Back', movies_path %> </p>
</div>
